<script>
  document.title = 'Resume Home Page';
</script>

<div id="ace-content" class="ace-container-shift">
  <div class="ace-container">
    <%- include('../partials/small_navigation') %>

    <div class="ace-paper-stock">
      <main class="ace-paper clearfix">
        <div class="ace-paper-cont clear-mrg">
          <!-- START: PAGE CONTENT -->
          <div class="padd-box clear-mrg">
            <section class="section brd-btm">
              <div class="row">
                <div class="col-sm-12 clear-mrg text-box">
                  <h2 class="title-lg text-upper">About Me</h2>

                  <p>
                    <b>Hello, World. And I’m David!</b><br />
                    This is Me. A passionate and results-oriented person with
                    strong background in mathematics and analytics, along with
                    strong experience in data analysis, reporting, prospecting
                    and lead generation. Capable of tackling challenging tasks
                    and delivering measurable results, and extremely data driven
                    and constantly looking on turn data into meaningful and
                    actionable insights.
                  </p>
                  <p class="text-right">
                    <img
                      width="30%"
                      height="30%"
                      src="images/My Logo/KC_signature_3.png"
                      alt="Kelvin Chen Signature"
                    />
                  </p>
                </div>
              </div>
            </section>
            <!-- .section -->

            <section class="section brd-btm">
              <div class="row">
                <div class="col-sm-6 clear-mrg">
                  <h2 class="title-thin text-muted">Personal Info.</h2>

                  <dl class="dl-horizontal clear-mrg">
                    <dt class="text-upper">Full Name</dt>
                    <dd>David Chen</dd>

                    <dt class="text-upper">D.O.B.</dt>
                    <dd>1991/04/27</dd>

                    <dt class="text-upper">address</dt>
                    <dd>Scarborough, ON, CA</dd>

                    <dt class="text-upper">e-mail</dt>
                    <dd>
                      <a href="mailto:kelvin.chen3501@gmail.com">
                        kelvin.chen3501@gmail.com</a
                      >
                    </dd>

                    <dt class="text-upper">Phone #</dt>
                    <dd>+1 647-972-9420</dd>

                    <dt class="text-upper">Work Stutus</dt>
                    <dd>Open to both Full-Time & Contractor</dd>
                  </dl>
                </div>
                <!-- .col-sm-6 -->

                <div class="col-sm-6 clear-mrg">
                  <h2 class="title-thin text-muted">Languages</h2>

                  <div
                    class="progress-bullets ace-animate"
                    role="progressbar"
                    aria-valuenow="10"
                    aria-valuemin="0"
                    aria-valuemax="10"
                  >
                    <strong class="progress-title">English</strong>
                    <span class="progress-bar">
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                    </span>
                    <span class="progress-text text-muted">native</span>
                  </div>

                  <div
                    class="progress-bullets ace-animate"
                    role="progressbar"
                    aria-valuenow="10"
                    aria-valuemin="0"
                    aria-valuemax="10"
                  >
                    <strong class="progress-title">Mandarin</strong>
                    <span class="progress-bar">
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                    </span>
                    <span class="progress-text text-muted">native</span>
                  </div>

                  <div
                    class="progress-bullets ace-animate"
                    role="progressbar"
                    aria-valuenow="7"
                    aria-valuemin="0"
                    aria-valuemax="10"
                  >
                    <strong class="progress-title">Cantonese</strong>
                    <span class="progress-bar">
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet"></span>
                      <span class="bullet"></span>
                      <span class="bullet"></span>
                    </span>
                    <span class="progress-text text-muted">Fluent</span>
                  </div>

                  <div
                    class="progress-bullets ace-animate"
                    role="progressbar"
                    aria-valuenow="5"
                    aria-valuemin="0"
                    aria-valuemax="10"
                  >
                    <strong class="progress-title">French</strong>
                    <span class="progress-bar">
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet fill"></span>
                      <span class="bullet"></span>
                      <span class="bullet"></span>
                      <span class="bullet"></span>
                      <span class="bullet"></span>
                      <span class="bullet"></span>
                    </span>
                    <span class="progress-text text-muted">Intermediate</span>
                  </div>
                </div>
                <!-- .col-sm-6 -->
              </div>
              <!-- .row -->
            </section>
            <!-- .section -->

            <p>TECHNICAL SKILLS</p>
            <section class="section brd-btm">
              <div class="row">
                <div class="col-sm-6 clear-mrg">
                  <h2 class="title-thin text-muted">
                    Skill Highlights
                  </h2>
                  <i class="fas fa-tasks"></i> Project Management <br /><br />
                  <i class="fas fa-filter"></i> Process Optimization
                  <br /><br />
                  <i class="fas fa-puzzle-piece"></i>Collaborative Problem
                  Solving <br /><br />
                  <i class="fas fa-users-cog"></i> Cross Function Team
                  Leadership <br /><br />
                  <i class="fas fa-trophy"></i> SDLC<br />
                  (Software Development Life Cycle)
                </div>
                <!-- .col-sm-6 -->

                <div class="col-sm-6 clear-mrg">
                  <h2 class="title-thin text-muted">Industry Knowledge</h2>

                  <div
                    class="progress-line ace-animate"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <strong class="progress-title"
                      >Business Analysis/Strategic Planning</strong
                    >
                    <div
                      class="progress-bar"
                      data-text="90%"
                      data-value="0.9"
                    ></div>
                  </div>

                  <div
                    class="progress-line ace-animate"
                    role="progressbar"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <strong class="progress-title"
                      >Project Management(Agile/Scrum)</strong
                    >
                    <div
                      class="progress-bar"
                      data-text="80%"
                      data-value="0.8"
                    ></div>
                  </div>

                  <div
                    class="progress-line ace-animate"
                    role="progressbar"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <strong class="progress-title"
                      >Process Optimization/Process Improvement</strong
                    >
                    <div
                      class="progress-bar"
                      data-text="80%"
                      data-value="0.8"
                    ></div>
                  </div>

                  <div
                    class="progress-line ace-animate"
                    role="progressbar"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <strong class="progress-title"
                      >Cloud Platform(GCP/AWS)</strong
                    >
                    <div
                      class="progress-bar"
                      data-text="80%"
                      data-value="0.8"
                    ></div>
                  </div>
                </div>
                <!-- .col-sm-6 -->
              </div>
              <!-- .row -->
            </section>
            <!-- .section -->

            <section class="section brd-btm">
              <div class="row">
                <div class="col-sm-6 clear-mrg">
                  <h2 class="title-thin text-muted">
                    Business Intelligence Tool
                  </h2>

                  <div class="row">
                    <div class="col-xs-4">
                      <div
                        class="progress-chart ace-animate"
                        role="progressbar"
                        aria-valuenow="90"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div
                          class="progress-bar"
                          data-text="90%"
                          data-value="0.9"
                        ></div>
                        <strong class="progress-title">MySQL</strong>
                      </div>
                    </div>
                    <!-- .col-xs-4 -->

                    <div class="col-xs-4">
                      <div
                        class="progress-chart ace-animate"
                        role="progressbar"
                        aria-valuenow="85"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div
                          class="progress-bar"
                          data-text="85%"
                          data-value="0.85"
                        ></div>
                        <strong class="progress-title">MS_SQL</strong>
                      </div>
                    </div>
                    <!-- .col-xs-4 -->

                    <div class="col-xs-4">
                      <div
                        class="progress-chart ace-animate"
                        role="progressbar"
                        aria-valuenow="75"
                        aria-valuemin="0"
                        aria-valuemax="75"
                      >
                        <div
                          class="progress-bar"
                          data-text="75%"
                          data-value="0.75"
                        ></div>
                        <strong class="progress-title"
                          >Tableau & Power BI</strong
                        >
                      </div>
                    </div>
                    <!-- .col-xs-4 -->
                  </div>
                  <!-- .row -->
                </div>
                <!-- .col-sm-6 -->

                <div class="col-sm-6 clear-mrg">
                  <h2 class="title-thin text-muted">Information Technology</h2>

                  <div
                    class="progress-line ace-animate"
                    role="progressbar"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="80"
                  >
                    <strong class="progress-title">Javascript</strong>
                    <div
                      class="progress-bar"
                      data-text="80%"
                      data-value="0.80"
                    ></div>
                  </div>

                  <div
                    class="progress-line ace-animate"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="75"
                  >
                    <strong class="progress-title">Python</strong>
                    <div
                      class="progress-bar"
                      data-text="75%"
                      data-value="0.75"
                    ></div>
                  </div>

                  <div
                    class="progress-line ace-animate"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="75"
                  >
                    <strong class="progress-title">Node.js</strong>
                    <div
                      class="progress-bar"
                      data-text="75%"
                      data-value="0.75"
                    ></div>
                  </div>

                  <div
                    class="progress-line ace-animate"
                    role="progressbar"
                    aria-valuenow="70"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <strong class="progress-title">R, SAS & SPSS</strong>
                    <div
                      class="progress-bar"
                      data-text="70%"
                      data-value="0.7"
                    ></div>
                  </div>
                </div>
                <!-- .col-sm-6 -->
              </div>
              <!-- .row -->
            </section>
            <!-- .section -->

            <section class="section brd-btm">
              <div class="row">
                <div class="col-sm-12 clear-mrg">
                  <h2 class="title-thin text-muted">Other Skills</h2>
                  <ul class="icon-list icon-list-col3 clearfix">
                    <li><i class="fas fa-file-image"></i> Photoshop (PS)</li>
                    <li><i class="fas fa-pencil-ruler"></i> UI/UX Design</li>
                    <li><i class="fas fa-table"></i> Microsoft Office Excel</li>
                    <li>
                      <i class="fas fa-file-word"></i> Microsoft Office Word
                    </li>
                    <li>
                      <i class="fas fa-file-powerpoint"></i> Microsoft Office
                      PowerPoint
                    </li>
                    <li>
                      <i class="fab fa-html5"></i>/<i
                        class="fas fa-file-code"
                      ></i>
                      HTML5 / CSS3
                    </li>
                    <li><i class="fas fa-list-alt"></i> Resource Planning</li>
                    <li>
                      <i class="fas fa-download"></i> Customer Data Integration
                    </li>
                    <li>
                      <i class="fas fa-search-plus"></i> Marketing Research
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <!-- .section -->

            <!-- <section class="section">
							<h2 class="title-thin text-muted">Awards & Certificate</h2>

							<div class="row">
								<div class="col-sm-6 clear-mrg">
									<div class="award-box">
										<figure class="award-img">
											<img src="image for award/certificate" alt="" />
										</figure>

										<h3 class="award-title">Certificate</h3>

										<div class="award-text text-muted clear-mrg">
											<p>
												Certificate Explainations
											</p>
										</div>
									</div>
								</div>
								.col-sm-6

																<div class="col-sm-6 clear-mrg">
									<div class="award-box">
										<figure class="award-img">
											<img src="image for award/certificate" alt="" />
										</figure>

										<h3 class="award-title">Certificate</h3>

										<div class="award-text text-muted clear-mrg">
											<p>
												Certificate Explainations
											</p>
										</div>
									</div>
								</div>
								.col-sm-6
							</div>
							.row
						</section>
						.section -->
          </div>
          <!-- .padd-box -->
          <!-- END: PAGE CONTENT -->
        </div>
        <!-- .ace-paper-cont -->
      </main>
      <!-- .ace-paper -->
    </div>
    <!-- .ace-paper-stock -->
  </div>
  <!-- .ace-container -->
</div>
<!-- #ace-content -->
